.All-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-areas: "nav" "Container" "foot";
}

.container {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "carousel carousel carousel";
    grid-gap: 3rem;
    text-align: center;
    grid-area: Container;
    min-width: 75%;
}

.carousel {
    grid-area: carousel;
}

img {
    width: 100%;
    height: 100%;
}

.Title {
    grid-area: t;
}

h1 {
    text-align: center;
    font-size: 4em !important;
}

footer {
    grid-area: foot;
}

@media only screen and (max-width: 800px) {
    html {
        max-height: 500px;
    }
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
    .carousel {
        min-width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas: "carousel carousel carousel";
        text-align: center;
        grid-area: Container;
    }
}

@media screen and (max-height: 760px) {
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
    nav {
        min-height: 52px;
    }
}

@media screen and (max-height: 530px) {
    nav {
        min-height: 52px;
    }
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
}

h2 {
    text-align: center;
}

#circleOne {
    border-radius: 70% !important;
    -webkit-border-radius: 70% !important;
    -moz-border-radius: 70% !important;
    -ms-border-radius: 70% !important;
    -o-border-radius: 70% !important;
}

.firstCircle {
    grid-area: FC;
}

.secondCircle {
    grid-area: SC;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}