.All-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-areas: "nav" "Container" "foot";
}

.container {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "carousel carousel carousel";
    grid-gap: 3rem;
    text-align: center;
    grid-area: Container;
    min-width: 75%;
}

.carousel {
    grid-area: carousel;
}

img {
    width: 100%;
    height: 100%;
}

.Title {
    grid-area: t;
}

h1 {
    text-align: center;
    font-size: 4em !important;
}

footer {
    grid-area: foot;
}

@media only screen and (max-width: 800px) {
    html {
        max-height: 500px;
    }
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
    .carousel {
        min-width: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas: "carousel carousel carousel";
        text-align: center;
        grid-area: Container;
    }
}

@media screen and (max-height: 760px) {
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
    nav {
        min-height: 52px;
    }
    .contact-bubble {
        width: 50%;
        margin: auto;
        gap: 5vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "FC" "SC";
        background-color: rgb(243, 241, 241);
    }
}

@media screen and (max-height: 530px) {
    nav {
        min-height: 52px;
    }
    .All-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 1fr 10vh;
        grid-template-areas: "nav" "Container" "foot";
    }
    .contact-bubble {
        width: 50%;
        margin: auto;
        gap: 5vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "FC" "SC" !important;
        background-color: rgb(243, 241, 241);
    }
}

h2 {
    text-align: center;
}

.contact-bubble {
    width: 50%;
    margin: auto;
    gap: 5vw;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-areas: "FC SC";
    background-color: rgb(243, 241, 241);
}

#circleOne {
    border-radius: 70% !important;
    -webkit-border-radius: 70% !important;
    -moz-border-radius: 70% !important;
    -ms-border-radius: 70% !important;
    -o-border-radius: 70% !important;
}

.firstCircle {
    grid-area: FC;
}

.secondCircle {
    grid-area: SC;
}