nav {
    background-color: black;
    grid-area: nav;
}

.content-container {
    grid-area: CC;
    margin: auto;
    width: 50%;
}

.white-t {
    grid-area: t;
}

.left-cont-image {
    grid-area: LCI;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20fr 5vh;
    grid-template-areas: "t" "picker";
    grid-gap: 5%;
}

.choose {
    background-color: darkgrey;
    grid-area: choose;
}


#store {
    grid-area: Stitle;
}

.color-picker {
    display: grid;
    grid-template-columns: 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
    grid-template-rows: 5vh;
    grid-template-areas: "col1 col2 col3 col4 col5 col6 col7";
    grid-area: picker;
    grid-gap: 5%;
    justify-content: center;
}

.color1 {
    background-color: black;
    grid-area: col1;
}

.color2 {
    background-color: blue;
    grid-area: col2;
}

.color3 {
    background-color: chartreuse;
    grid-area: col3;
}

.color4 {
    background-color: crimson;
    grid-area: col4;
}

.color5 {
    background-color: grey;
    grid-area: col5;
}

.color6 {
    background-color: indigo;
    grid-area: col6;
}

.color7 {
    background-color: navy;
    grid-area: col7;
}

.container2 {
    grid-area: C2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Stitle Stitle" "LCI choose";
    grid-gap: 5%;
}

.choose {
    background-color: chartreuse;
    grid-area: choose;
}

.container3 {
    margin: auto;
    width: 75%;
    grid-area: C3;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 20vh;
    grid-template-areas: "im1 im1 im1 im1 im1 im1 im1 im1 im1" "im2 im3 im4 im5 im6 im7 im8 im9 im10";
    grid-gap: 2%;
}

.im1{
    background-color: aqua;
    grid-area: im1;
}
.im2{
    background-color: chartreuse;
    grid-area: im2;
}
.im3{
    background-color: darkgreen;
    grid-area: im3;
}
.im4{
    background-color: deepskyblue;
    grid-area: im4;
}
.im5{
    background-color: darkgoldenrod;
    grid-area: im5;
}
.im6{
    background-color: brown;
    grid-area: im6;
}
.im7{
    background-color: cadetblue;
    grid-area: im7;
}
.im8{
    background-color:darkkhaki;
    grid-area: im8;
}
.im9{
    background-color: darkviolet;
    grid-area: im9;
}
.im10{
    background-color: yellow;
    grid-area: im10;
}


footer {
    background-color: black;
    grid-area: footer;
}

#caro-img {
    width: 50vw;
}

.All-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr 10vh 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav" "CC CC CC CC" "C2 C2 C2 C2" "choose choose choose choose" "C3 C3 C3 C3" "footer footer footer footer";
}

@media (max-width: 650px) and (min-width: 200px) {
    .All-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 50vh 60vh 1fr 1fr;
        grid-area: "nav" "CC" "C2" "choose" "C3" "footer";
    }

    nav{
        padding-bottom: 7vh;
    }

.container2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Stitle" "LCI" "choose";
    grid-gap: 5%;
}

}

@media (max-width:350px){
    .right-nav{
    display: none;    
}
}


@media (min-width: 650px) {
    nav{
        padding-bottom: 8vh;
    }
}

@media (min-width: 1100px) {
    nav{
        padding-bottom: 6vh;
    }
}




