                        /* TEMPLATE & STYLING */
                        
                        li {
                            display: inline;
                            color: whitesmoke;
                        }
                        
                        .left-nav {
                            float: left;
                        }
                        
                        li:hover {
                            border-width: 3vw;
                            border-color: whitesmoke;
                            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                        }
                        
                        nav {
                            grid-area: nav;
                            background-color: black;
                            height: 5vh;
                            margin-bottom: 2vh;
                            padding-top: 1vh;
                        }
                        
                        .right-nav {
                            display: inline;
                            float: right;
                            margin-right: 2vw;
                        }
                        
                        footer {
                            background-color: black;
                            margin-top: 3%;
                            font-family: Arial, Helvetica, sans-serif;
                            text-align: center;
                        }
                        
                        span {
                            color: aliceblue;
                        }
                        /* ************************************************************ */
                        
                        .container {
                            display: grid;
                            height: 100vh;
                            grid-template-columns: 0.4fr 0.4fr 0.4fr;
                            grid-template-rows: 10fr 0.5fr 10fr 0.5fr 10fr 0.5fr;
                            grid-template-areas: "mini-carousel1 mini-carousel2 mini-carousel3" "btn1 btn2 btn3" "mini-carousel4 mini-carousel5 mini-carousel6" "btn4 btn5 btn6" "mini-carousel7 mini-carousel8 mini-carousel9" "btn7 btn8 btn9";
                            grid-gap: 3rem;
                            text-align: center;
                        }
                        
                        .btn1 {
                            grid-area: btn1;
                        }
                        
                        .btn2 {
                            grid-area: btn2;
                        }
                        
                        .btn3 {
                            grid-area: btn3;
                        }
                        
                        .btn4 {
                            grid-area: btn4;
                        }
                        
                        .btn5 {
                            grid-area: btn5;
                        }
                        
                        .btn6 {
                            grid-area: btn6;
                        }
                        
                        .btn7 {
                            grid-area: btn7;
                        }
                        
                        .btn8 {
                            grid-area: btn8;
                        }
                        
                        .btn9 {
                            grid-area: btn9;
                        }
                        
                        .btn1,
                        .btn2,
                        .btn3,
                        .btn4,
                        .btn5,
                        .btn6,
                        .btn7,
                        .btn8,
                        .btn9 {
                            width: 100% !important;
                        }
                        
                        button {
                            background-color: blue;
                            /* border: none; */
                        }
                        
                        .mini-carousel1 {
                            grid-area: mini-carousel1;
                            background-color: yellow;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/unknown.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        
                        .mini-carousel1:hover {
                            opacity: 1;
                        }
                        
                        .mini-carousel2 {
                            grid-area: mini-carousel2;
                            background-color: blue;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/white\ t.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel2:hover {
                            opacity: 1;
                        }
                        
                        .mini-carousel3 {
                            grid-area: mini-carousel3;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/unknown.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel4 {
                            grid-area: mini-carousel4;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/white\ t\ back.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel5 {
                            grid-area: mini-carousel5;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/beanie.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel6 {
                            grid-area: mini-carousel6;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/unknown.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel7 {
                            grid-area: mini-carousel7;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/white\ t.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel8 {
                            grid-area: mini-carousel8;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/white\ t\ back.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel9 {
                            grid-area: mini-carousel9;
                            background-color: darkgoldenrod;
                            border-radius: 5px;
                            background-image: url("/CROWN\ website/Raw Sites/IMAGES/unknown.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        
                        .mini-carousel3:hover {
                            opacity: 1;
                        }
                        
                        hr {
                            width: 50%;
                            border: 10px solid black;
                        }
                        
                        @media only screen and (max-width: 550px) {
                            .container {
                                display: grid;
                                grid-template-columns: 1fr;
                                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                grid-template-areas: "mini-carousel1" "mini-carousel2" "mini-carousel3" "mini-carousel4" "mini-carousel5" "mini-carousel6" "mini-carousel7" "mini-carousel8" "mini-carousel9";
                            }
                        }
                        
                        h1 {
                            text-align: center;
                        }
                        
                        button {
                            width: 150px;
                            height: 50px;
                            cursor: pointer;
                            font-size: 20px;
                            font-family: Arial;
                            letter-spacing: 5px;
                            background: #ffffff;
                            border: 2px solid black;
                            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
                            transition: 500ms;
                        }
                        
                        button:after {
                            content: '';
                            position: absolute;
                            transform: translateX(-55px) translateY(-40px);
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: transparent;
                            box-shadow: 0px 0px 50px transparent;
                            transition: 500ms;
                        }
                        
                        button:hover {
                            transform: translateY(-5px);
                            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
                        }
                        
                        button:hover:after {
                            background: white;
                            box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
                            animation: spin 1s infinite linear;
                        }
                        
                        @keyframes spin {
                            25% {
                                transform: translateX(-25px) translateY(-35px);
                                width: 15px;
                                height: 15px;
                            }
                            50% {
                                transform: translateX(-55px) translateY(-30px);
                                width: 5px;
                                height: 5px;
                            }
                            75% {
                                transform: translateX(-85px) translateY(-35px);
                                width: 15px;
                                height: 15px;
                            }
                        }
                        
                        button:focus {
                            outline: none;
                        }